<style>
ul {
  list-style-type: none;
  padding: 0;
  border: 1px solid #ddd;
}

ul li {
  padding: 8px 16px;
  border-bottom: 1px solid #ddd;
}

ul li:last-child {
  border-bottom: none
}

a {
  text-decoration: none
}

li:hover {
  background-color: #ddd;
}
</style>

<main class="container">
  <div class="header">
    <h1>customers</h1>
  


    <%= link_to "Je ne me trouve pas dans la liste",
                new_customer_path,
                class: "btn btn--primary" %>
  </div>

  <% if @customers.any? %>
  <ul class="level1">
      <% @customers.each do |customer| %>
          <li>
            <%= link_to customer.first_name + " " + customer.last_name, session_sign_in_path(customer)%>
             
          </li>
      <% end %>
  </ul>   
<% end %>

</main>

