
<!-- app/views/home/sign_up.html.erb -->
<div class="mainContent">
  <div class="grid">
    <h1 class="largeHeader">Sign up</h1>
    <p class="centeredDescription col_4">Already signed up? You can <a href="">log in here.</a></p>
    <div class="col_1">
    <%= render "form", customer: @customer %>

    </div><!-- end column 2 contact form -->

    <div class="col_4">
      <a href="" class="button createAccount">Create account</a>
    </div>

  </div><!-- end grid -->
</div><!-- end mainContent -->