
<!-- app/views/home/sign_up.html.erb -->
<div class="mainContent">
  <div class="grid">
    <h2 class="largeHeader">Création de mon compte client</h2>
    <br>
    <br>
    <div class="col_1">
    <%= render "form", customer: @customer %>

    </div><!-- end column 2 contact form -->

  </div><!-- end grid -->
</div><!-- end mainContent -->